.course-container {
    padding: 50px 20px 20px 20px;
}

.course-header {
    display: flex;
    align-items: center;
}


.course-main {
    text-align: left;
}

.course-btn {
    display: block;
    padding: 20px;
    width: 100%;
    height: auto;
    border-color: #affc92;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background-color: #affc92;
}

.header-item {
    margin-left: 20px;
    font-size: 2em;
}


.section-header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.section-header h3 {
    margin-left: 0.75em;
} 

.section-header h3 {
    font-size: 1.75em;
}

.section-body {
    margin: 20px;
}

#material-section {
    margin-left: 20px;
}